@page "/"

<PageTitle>Sagre ed Eventi @annoCorrente</PageTitle>
<h1>Calendario sagre ed eventi enogastronomici @annoCorrente</h1>

@code {
    public string annoCorrente = DateTime.UtcNow.Year.ToString();
}